/*ANIMACIONES*/
p {
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: 3;
    overflow:hidden;
    animation-direction: alternate;
}
p {
    animation: 3s 2 alternate slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    } 

    /*75%{
        font-size: 300%;
    }*/

    to {
        margin-left: 0%;
        width: 100%;
        transform: rotate(360deg);
    }
}

/TRANSICIONES/
nav{
    padding-top: 200px;
    text-align: center;
}

nav a{
    font-size: 30px;
}

a {
    color: rgb(255, 255, 255);
    background-color: rgb(161, 23, 23);
    /* Aplicar a 1 propiedad */
  /* nombre de la propiedad | duraci贸n */
    /*
    transition: margin-left 4s;

  /* nombre de la propiedad | duraci贸n | retardo */
    /*
    transition: margin-left 4s 1s;

  /* nombre de la propiedad | duraci贸n | funci贸n | retardo */
    /*
    transition: margin-left 4s ease-in-out 1s;

  /* Aplicar a 2 propiedades */
    /*
    transition: margin-left 4s, color 1s;
    /* Aplicar a todas las propiedades que cambien */
    transition: all 1s ease-out;
}

a:hover,
a:focus {
    margin-left: 400px;
    color:cornflowerblue;
    background-color: #fff;
}