/* Reducir codigo repetitivo mixing */

@mixin textoEspaciadoCentrado{
    padding-top:25px;
    padding-bottom:25px;
    text-align:center;
}

p{
    @include textoEspaciadoCentrado;
    font-weight:100;
}

.titulo{
    @include textoEspaciadoCentrado;
    font-weight:bold;
}

/*Asegurar la compatibilidad entre navegadores*/

@mixin borde-redondo($valor){
    -webkit-border-radius: $valor;
    -moz-border-radius: $valor;
    -ms-border-radius: $valor;
    -o-border-radius: $valor;
    border-radius: $valor;
}

.container {
    @include borde-redondo(4px);
}
