/* Css orientado a objetos*/

.caja {
        background: #272f2f;
        display: inline-block;
        width: 200px;
        height: 200px;
        margin: 20px;
}
.azul {
        background: #4a88f4;
}
.naranja {
        background:#e67e22;
}
.verde {
        background:#27ae60;
}
