/*Slider*/

$Imagen1:  url("https://uploads-ssl.webflow.com/5976a3655fcd654cb3d604ca/5bfa14d04ae3429879830ee4_home-hero.jpg");
$Imagen2:  url("https://uploads-ssl.webflow.com/5976a3655fcd654cb3d604ca/5c00c9ecd82b40364fc97f4b_bridge.jpg");
$Imagen3:  url("https://uploads-ssl.webflow.com/5976a3655fcd654cb3d604ca/5c00c9963ea913260bb41b0e_powerlines.jpg");
$Imagen4:  url("https://uploads-ssl.webflow.com/5976a3655fcd654cb3d604ca/5bfa14d04ae3429879830ee4_home-hero.jpg");  
$imagen5:  url("https://uploads-ssl.webflow.com/5976a3655fcd654cb3d604ca/5c00c9963ea913260bb41b0e_powerlines.jpg"); 
$time1: 6s;
$time2: 12s;
$time3: 18s;
$time4: 24s;


.slideshow {
    list-style-type: none;
}
    
.slideshow {

    
    :after {
        top: -16px;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0px;
        z-index: 0; 
    }
    
    li span { 
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        color: transparent;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        opacity: 0;
        z-index: 0;
        animation: imageAnimation 30s linear infinite 0s; 
    }
    
    }
    
    .slideshow li:nth-child(1) span { 
        background-image: $Imagen1;
    }
    .slideshow li:nth-child(2) span { 
        background-image: $Imagen2;
        animation-delay: $time1; 
    }
    .slideshow li:nth-child(3) span { 
        background-image: $Imagen3;
        animation-delay: $time2; 
    }
    .slideshow li:nth-child(4) span { 
        background-image: $Imagen4;
        animation-delay: $time3; 
    }
    
    .slideshow li:nth-child(5) span { 
        background-image: $imagen5;
        animation-delay: $time4; 
    }

    @keyframes imageAnimation { 
        0% { opacity: 0; animation-timing-function: ease-in; }
        8% { opacity: 1; animation-timing-function: ease-out; }
        17% { opacity: 1 }
        25% { opacity: 0 }
        100% { opacity: 0 }
    }
    
    
    @keyframes titleAnimation { 
        0% { opacity: 0 }
        8% { opacity: 1 }
        17% { opacity: 1 }
        19% { opacity: 0 }
        100% { opacity: 0 }
    }
    
    
    .no-cssanimations .cb-slideshow li span {
        opacity: 1;
    }